@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 1em;
    font: 1em/1.5 'Titillium Web', monospace;
    background: whitesmoke;
    color: dimgrey;
}

h1 {
    margin: 0;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    background: dimgrey;
    border: thin solid rgb(51,51,51);
    border-radius: 2em;
    padding: .25em 1em;
    color: white;
    cursor: pointer;
    font-size: 110%;
    margin: 1em 0 0;
}
